/**
 * Шапка сайта
 * */
.header {
	margin: $indent / 2 0;
	text-align: center;
	display: flex;
	align-items: center;
	width: 60%;
	order: 1;
	@media only screen and ( min-width: $screen-nav-hide ) {
		display: block;
		width: 100%;
	}
	@media only screen and ( max-height: 768px ) {
		margin: $indent / 4 0;
	}
}

.header .custom-logo-link {
	display: block;
	max-width: 5rem;
	margin-right: $indent;
	@media only screen and ( min-width: $screen-nav-hide ) {
		max-width: 10rem;
		margin-left: auto;
		margin-right: auto;
	}
	@media only screen and ( max-height: 768px ) {
		max-width: 5rem;
	}
}

.header .custom-logo {
	display: block;
	width: 100%;
	height: auto;
}

.header .blog-name {
	display: block;
	font-size: 150%;
	font-weight: bold;
	margin-top: $indent / 2;
	margin-bottom: $indent / 2;
	@media only screen and ( max-height: 768px ) {
		margin-top: $indent / 4;
		margin-bottom: $indent / 4;
	}
}

.header .blog-name:hover {
	text-decoration: none;
}

.header .blog-description {
	@extend %small;
	margin-top: $indent / 2;
	margin-bottom: $indent / 2;
	display: none;
	@media only screen and ( min-width: $screen-nav-hide ) {
		display: block;
	}
	@media only screen and ( max-height: 768px ) {
		margin-top: $indent / 4;
		margin-bottom: $indent / 4;
	}
}