/**
 * Результаты поиска
 * */

.search-results {
	@extend %pl-0;
	list-style-type: none;
	counter-reset: search;
}

.search-results .entry {
	@extend %pt-1;
	@extend %pb-1;
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
}

.search-results .entry::before {
	content: counter( search );
	counter-increment: search;
	font-weight: bold;
	margin-right: $indent;
	padding: $indent * .25;
	background-color: darken( $border-color, 25% );
	color: #fff;
	width: $font-size-base * $line-height-base;
	height: $font-size-base * $line-height-base;
	display: inline-block;
	text-align: center;
}

.search-results .entry + .entry {
	border-top: 1px solid $border-color;
}

.search-results .entry a {
	flex-grow: 1;
}

.search-results .entry .author,
.search-results .entry .date {
	@extend %small;
	margin-left: auto;
	padding-left: $indent;
	padding-right: $indent;
}

.search-results .entry .author + .date {
	margin-left: 0;
}

/**
 * Форма поиска
 * */

.search-form {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 75%;
	order: 2;
	@media only screen and ( min-width: $screen-xs ) {
		width: 50%;
	}
	@media only screen and ( min-width: $screen-nav-hide ) {
		width: 100%;
	}
}

.search-form [type=search] {
	position: relative;
	z-index: 1;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding-right: 2rem;
}

.search-form [type=submit] {
	display: block;
	position: absolute;
	background-position: center center;
	background-size: 1rem 1rem;
	background-repeat: no-repeat;
	background-image: url( 'data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNTYuOTY2IDU2Ljk2NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTYuOTY2IDU2Ljk2NjsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI1MTIiIGhlaWdodD0iNTEyIj48Zz48cGF0aCBkPSJNNTUuMTQ2LDUxLjg4N0w0MS41ODgsMzcuNzg2YzMuNDg2LTQuMTQ0LDUuMzk2LTkuMzU4LDUuMzk2LTE0Ljc4NmMwLTEyLjY4Mi0xMC4zMTgtMjMtMjMtMjNzLTIzLDEwLjMxOC0yMywyMyAgczEwLjMxOCwyMywyMywyM2M0Ljc2MSwwLDkuMjk4LTEuNDM2LDEzLjE3Ny00LjE2MmwxMy42NjEsMTQuMjA4YzAuNTcxLDAuNTkzLDEuMzM5LDAuOTIsMi4xNjIsMC45MiAgYzAuNzc5LDAsMS41MTgtMC4yOTcsMi4wNzktMC44MzdDNTYuMjU1LDU0Ljk4Miw1Ni4yOTMsNTMuMDgsNTUuMTQ2LDUxLjg4N3ogTTIzLjk4NCw2YzkuMzc0LDAsMTcsNy42MjYsMTcsMTdzLTcuNjI2LDE3LTE3LDE3ICBzLTE3LTcuNjI2LTE3LTE3UzE0LjYxLDYsMjMuOTg0LDZ6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIHN0eWxlPSJmaWxsOiMwMDAwMDAiPjwvcGF0aD48L2c+IDwvc3ZnPg==' );
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	width: 2rem;
	border: none;
	background-color: transparent;
	cursor: pointer;
}