

				</main>

				<footer id="footer" class="footer">
					<p class="copyright">&copy {{ config.copyname ? config.copyname : site_title }}, {{ 'now' | date('Y') }}</p>
					<p class="developer"><a href="https://cct.pstu.edu/" target="_blank">ЦКТ ПДТУ</a></p>
				</footer>

			</div>

		</div>

		{% include( "parts/_enqueue.twig" ) %}

	</body>

</html>