<div class="heading">
	
	<h1>{{ current_page.title ? current_page.title : meta.title }}</h1>

	{% if ( current_page.description and current_page.description|trim|length ) or ( meta.description or meta.description|trim|length ) %}
		<p>{{ current_page.description ? current_page.description : meta.description }}</p>
	{% endif %}

</div>