<html lang="uk">
	
	<head>
		<title>{% if meta.title %} {{ meta.title }} | {% endif %} {{ site_title }}</title>
		{% if meta.description %}
		<meta name="description" content="{{ meta.description }}"> 
		{% endif %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible", content="IE=edge">
		<meta name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	</head>

	<body>
		
		<div id="wrapper" class="wrapper">
			

			<div id="column-side" class="column-side">
				
				<header id="header" class="header">
					
					<a href="{{ base_url }}" class="custom-logo-link">
						<img id="custom-logo" src="{{ theme_url }}/images/logo.svg" alt="{{ site_title }}" />
					</a>

					<a href="{{ base_url }}" class="blog-name"><strong>{{ site_title }}</strong></a>
					
					{% if meta.description %}
					<p class="blog-description">{{ meta.description }}</p>
					{% endif %}

				</header>

				<nav id="nav" class="nav">
					<ul>
						<li class="current"><a href="{{ base_url }}">Головна</a></li>
						{% for page in pages %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endfor %}
					</ul>
				</nav>

				<form id="searchform" class="searchform" action="{{ "search"|link }}">
					<input type="search" id="search_input" class="form-control" name="q" value="{{ search_terms|e('html_attr') }}" placeholder="Пошук по сайту..." />
					<button type="submit" class="searchsubmit"><span class="sr-only">Шукати</span></button>
				</form>
				<script type="text/javascript">
					// Intercept form submit and go to the search results page directly, avoiding a redirect
					document.getElementById('searchform').addEventListener('submit', function (e) {
					var search_terms = document.getElementById('search_input').value;
					location.href = '{{ "search"|link }}/' + encodeURIComponent(search_terms);
					e.preventDefault();
					});
				</script>

			</div>

			<div id="column-content" class="column-content">

				<main id="main" class="main">

					<h1>Заголовок страницы</h1>

					{% if description %}
					<p>{{ description }}</p>
					{% endif %}

					<ul id="breadcrumbs" class="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
							<a href="/" title="Главная" itemprop="item">
								<span itemprop="name">Головна</span>
								<meta itemprop="position" content="0">
							</a>
						</li>
						<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
							<a href="/razdel/" title="Раздел" itemprop="item">
								<span itemprop="name">Роздил</span>
								<meta itemprop="position" content="1">
							</a>
						</li>
						<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
							<a href="/razdel/podrazdel/" title="Подраздел" itemprop="item">
								<span itemprop="name">Підрозділ</span>
								<meta itemprop="position" content="2">
							</a>
						</li>
					</ul>

					<div class="info">
						{% if author %}
						<span class="author">{{ author }}</span>
						{% endif %}
						<time datetime="{{ time }}">{{ date_formatted }}</time>
					</div>

					<ul class="subpages">
						<li><a href="#">Адміністративно господарська частина</a></li>
						<li><a href="#">Бухгалтерська служба</a></li>
						<li><a href="#">Відділ аспірантури та докторантури - інформація</a></li>
						<li><a href="#">Відділ безпеки життєдіяльності та громадянського захисту</a></li>
						<li><a href="#">Відділ дистанційного навчання</a></li>
						<li><a href="#">Відділ забезпечення якості освіти</a></li>
						<li><a href="#">Відділ кадрів</a></li>
						<li><a href="#">Відділ ліцензування, акредитації та документації</a></li>
						<li><a href="#">Відділ міжнародних проєктів</a></li>
						<li><a href="#">Загальний відділ</a></li>
						<li><a href="#">Комісія з протидії корупції</a></li>
					</ul>

					{{ content }}

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet alias doloremque nostrum debitis commodi reiciendis id, aut, repudiandae asperiores perspiciatis pariatur labore earum quisquam vero voluptatem, in officiis magnam natus.</p>
					<figure class="alignright"><a class="fancybox" href="./userfiles/entry03.jpg"><img src="http://lorempixel.com/400/200/sports" alt=""></a>
						<figcaption>Iure tempora recusandae tenetur</figcaption>
					</figure>
					<p>Nihil provident, minus possimus error odio iure quas illo officiis id ullam quisquam molestias voluptatum tempora sequi tenetur doloremque, vitae odit. Iure tempora recusandae tenetur natus blanditiis maiores officia facilis!</p>
					<p>Unde possimus culpa tempora, dicta nobis consequuntur quidem maiores necessitatibus molestiae officia mollitia eius libero, voluptatem alias nostrum ratione voluptates, excepturi magni repellat esse dolorum laborum cumque odio ducimus labore.</p>
					<h2>Заголовок второго уровня</h2>
					<h3>Заголовок третьего уровня</h3>
					<h4>Заголовок четвёртого уровня</h4>
					<h5>Заголовок пятого уровня</h5>
					<h6>Заголовок шестого уровня</h6>
					<table>
						<thead>
							<tr>
								<th>Заголовок 1</th>
								<th>Заголовок 2</th>
								<th>Заголовок 3</th>
								<th>Заголовок 4</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Ячейка 1*1</td>
								<td>Ячейка 1*2</td>
								<td>Ячейка 1*3</td>
								<td>Ячейка 1*4</td>
							</tr>
							<tr>
								<td>Ячейка 2*1</td>
								<td>Ячейка 2*2</td>
								<td>Ячейка 2*3</td>
								<td>Ячейка 2*4</td>
							</tr>
							<tr>
								<td>Ячейка 3*1</td>
								<td>Ячейка 3*2</td>
								<td>Ячейка 3*3</td>
								<td>Ячейка 3*4</td>
							</tr>
							<tr>
								<td>Ячейка 4*1</td>
								<td>Ячейка 4*2</td>
								<td>Ячейка 4*3</td>
								<td>Ячейка 4*4</td>
							</tr>
						</tbody>
					</table>

					<nav class="pager" aria-label="...">
						<a class="next item" href="#" title="Смотреть следующий пост"><span class="title">Відділ безпеки життєдіяльності та громадянського захисту</span></a>
						<a class="previous item" href="#" title="Смотреть предыдущий пост"><span class="title">Відділ ліцензування, акредитації та документації</span></a>
					</nav>

				</main>

				<footer id="footer" class="footer">
					<p class="copyright">&copy <a href="https://pstu.edu/" target="_blank">ПДТУ</a>, 2021</p>
					<p class="developer"><a href="https://cct.pstu.edu/" target="_blank">ЦКТ ПДТУ</a></p>
				</footer>

			</div>

		</div>

		<link rel="stylesheet" href="{{ theme_url }}/styles/fonts.css">
		<link rel="stylesheet" href="{{ theme_url }}/styles/normalize.css">
		<link rel="stylesheet" href="{{ theme_url }}/styles/public.css">
		<script src="{{ theme_url }}/scripts/jquery.js"></script>
		<script src="{{ theme_url }}/scripts/public.js"></script>

	</body>

</html>